.container-fluid{
	max-width:1170px;
	margin:0 auto;
}
.hero-unit{
	position:relative;
	padding-left:250px;
	margin-top:20px;
}
.hero-unit img{
	position:absolute;
	top:50%;
	margin-top:-80px;
	left:40px;
	border:6px solid #d7d7d7;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
section h2{
	font-size: 1.4em;
}
article h3{
	font-size: 1.0em;
	line-height: 1em;
	position: relative;
}
article h3 span{
	font-size: 0.9em;
	font-weight: normal;
}
article h3 span.time{
	position: absolute;
	top:0;
	right:0;
}
article ul{
	font-size: 0.8em;
}
article ul ul{
	font-size: 1.0em;
}

/* Contact Section */
section#contact{
	display:none;
	position:absolute;
	background:#fff;
	font-size: 0.8em;
	padding: 0 20px 10px 20px;
	border:6px solid #d7d7d7;
	border-radius:6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	z-index:10;
	width:60%;
	max-width:724px;
	line-height:1.2em;
}
section#contact ul{
	font-size: 1.0em;
}
section#contact ul li{
	line-height:1.2em;
}

div.more-row{
	text-align: center;
}
/*
.shadow{
	clear:both;
	position:relative;
	background: #fff;
	margin-bottom:20px;
	padding-bottom:20px;
}
.shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 30px rgba(0,0,0,0.3);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}
*/
div.more-link-container{
	padding-top:15px;
	clear:both;
}
a.more-trigger{
	margin:0 auto;
}
div.more-content{
	display:none;
	text-align: left;
}