/*** Global Styles ***/
/*
html { 
  background: url('/img/bg-wood.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
body{
	background:url('/img/paper.jpg') repeat 0 0;
}
section{
	overflow:hidden;
}
section article{
	float:left;
}
section article ul{
	width:90%;
	padding-left:18px;
}
section .panel-heading{
	font-size:1.2em;
}

/*** Intro Section ***/
section.jumbotron{
	position:relative;
	padding:20px 20px 20px 250px;
	margin-top: 30px;
	border:1px solid #ddd;
}
section.jumbotron .me{
	position:absolute;
	left:50px;
	top:50%;
	margin-top:-75px;
	border:8px solid #ddd;
}
section.jumbotron .btn{
	margin-top:15px;
}

/*** Contact Section ***/
section#contact{
	display:none;
}
section#contact article{
	width:25%;
}
section#contact article i.icon-large{
	width:22px;
	display:block;
	float:left;
	text-decoration:none;
}

/*** Weapons of Choice Section ***/
section#weapons article{
	width:33%;
}
section#weapons article li{
	overflow: hidden;
	margin-bottom: 10px;
}
section#weapons .skill-name{
	width:40%;
	float:left;
}
section#weapons .progress{
	float: left;
	margin-bottom: 0;
	width:60%;
	position:relative;
}
section#weapons .progress-bar{
	background-color: #ccc;
}
section#weapons .highlight{
	background-color:#428bca;
}
section#weapons .skill-detail{
	font-size:0.8em;
	height:100%;
	line-height:1.8em;
	vertical-align: middle;
	position:absolute;
	padding:0 5px;
	width:100%;
	color:#fff;
	background-color:#428bca;
	z-index:2;
	cursor:pointer;
	border-radius: 4px;
}
section#weapons .skill-detail .year{
	float:right;
}

/* Expertise Levels */
.beginner{
	width:20%;
}
.beginner-intermediate{
	width:40%;
}
.intermediate{
	width:60%;
}
.intermediate-expert{
	width:80%;
}
.expert{
	width:100%;
}

/*** Experience Section ***/
section#experience article{
	width:50%;
}
section#experience article .label{
	font-size:0.5em;
}
section#experience article .company{
	font-size:0.8em;
}

/*** Education Section ***/
section#education article{
	width:50%;
}

/*** Other Section ***/
section#other article{
	width:50%;
}
section#other article p{
	width:90%;
}

/*** Code View ***/
div#code-view div.modal-dialog{
	width:90%;
	overflow: scroll;
}